@model HerreraR_TallerLigaPro.Models.Equipo

<!-- Seccion para que salte el mensaje de advertencia de los partidos -->
@if (ViewBag.MensajeError != null)
{
	<script>
		alert('@ViewBag.MensajeError');
	</script>
}

@{
	ViewData["Title"] = "Editar Equipo";
}

<h1 class="text-center mb-4">@Model.Nombre</h1>

<div class="row">
	<div class="col-md-6 text-center">
		<img src="~/img/@Model.ImagenEquipo" class="img-fluid rounded shadow mb-3" alt="Imagen Equipo" style="max-height: 300px; object-fit: contain;">
		<p class="lead">@Model.DescripcionEquipo</p>
	</div>

	<h4>Editar informacion del equipo</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="EditarEquipo" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				@Html.AntiForgeryToken()

				<input type="hidden" asp-for="Id" />
				<input type="hidden" asp-for="ImagenEquipo" />
				<input type="hidden" asp-for="DescripcionEquipo" />

				<div class="form-group">
					<label class="control-label">Cantidad de Partidos Jugados</label>
					<input asp-for="PartidosJugados" class="form-control" />
					<span asp-validation-for="PartidosJugados" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Cantidad de Partidos Ganados</label>
					<input asp-for="PartidosGanados" class="form-control" />
					<span asp-validation-for="PartidosGanados" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Cantidad de Partidos Empatados</label>
					<input asp-for="PartidosEmpatados" class="form-control" />
					<span asp-validation-for="PartidosEmpatados" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Cantidad de Partidos Perdidos</label>
					<input asp-for="PartidosPerdidos" class="form-control" />
					<span asp-validation-for="PartidosPerdidos" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Guardar" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>

@if (ViewBag.Mensaje != null)
{
	<div class="alert alert-info mt-3 text-center">
		@ViewBag.Mensaje
	</div>
}

<div class="text-center mt-4">
	@if (Model.ValidarPartidos())
	{
		<h3>Puntos: @Model.Puntos</h3>
	}
	else
	{
		<h3 style="color:red;">Puntos: Error en los partidos ingresados</h3>
	}
</div>

<div class="form-group mt-2 text-center">
	<a asp-action="ListaEquipos" class="btn btn-secondary">Volver a la Lista de Equipos</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
